.button {
    border: solid 3px #ffffff;
    background-color: var(--intaractive-bg-color);
    cursor: pointer;
    font-family: var(--title-font);
    font-size: var(--link-size);
    color: var(--intaractive-color);
    text-decoration: none;
    letter-spacing: 0.1em;
    text-align: center;
    display: block;
    width: 300px;
    text-transform: uppercase;
    padding: 17px;
    transition: 0.5s;
}

.link{
    min-width: 100px;
    position: relative;
    color:var(--intaractive-link-color);
    cursor: pointer;
    font-family: var(--title-font);
    font-size: var(--link-size);
    text-decoration: none;
    letter-spacing: 0.1em;
    display: block;
    text-transform: uppercase;
    padding:5px 40px 5px 0;
    white-space: nowrap;
}

.link::before{
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 45px;
    background-color: var(--base-color);
    bottom: 0;

}

.link:hover::before{
    animation-name: move;
    animation-fill-mode:forwards;
    animation-duration: 1s;
}

.link:not(:hover)::before{
    animation-name: move-out;
    animation-duration: 1s;
}

.link::after{
    content: "";
    display: block;
    position: absolute;
    height: 7px;
    width: 33px;
    background-image:url("img/link-arrow.svg");
    background-repeat: no-repeat;
    bottom: 35%;
    right: 0;
}

@media (max-width: 500px) {
    .button {
        width: 200px;
    }
}


