.goods__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: var(--width);
    margin: 0 auto;
}


/*Стили для общего с картинкой контейнера*/
.goods__item{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left: 0;
}

.goods__item:nth-child(odd){
     flex-direction: row-reverse;
 }

.goods__item:nth-child(odd)::before{
    content: "";
    display: block;
    position: absolute;
    top:-123px;
    right: 0;
    height: 45px;
    width: 4px;
    background-color:var(--base-color);
}

.goods__item:nth-child(even)::before{
    content: "";
    display: block;
    position: absolute;
    top:-123px;
    left: 0;
    height: 45px;
    width: 4px;
    background-color:var(--base-color);
}

.goods__item:nth-child(even):last-child::after{
    content: "";
    display: block;
    position: absolute;
    bottom:-123px;
    right: 0;
    height: 45px;
    width: 4px;
    background-color:var(--base-color);
}



/*Стили для контейнера с текстом*/
.goods__info{
    margin-left: 164px;
    max-width: 350px;
    margin-bottom: 100px;
}

.goods__item:nth-child(even) .goods__info{
    margin-right: 164px;
    text-align: right;
}




/*Стили для заголовка и линии*/
.goods__title{
    position: relative;
    font-family: var(--title-font);
    font-size: var(--title-size);
    margin-top: 100px;
    padding-bottom: 30px;
}

.goods__item:nth-child(odd) .goods__title::before{
    content: "";
    display: block;
    position: absolute;
    top:30%;
    left:-165px;
    height: 1px;
    width: 150px;
    background-color:#000000;
}

.goods__item:nth-child(even) .goods__title::after{
    content: "";
    display: block;
    position: absolute;
    top:30%;
    right:-165px;
    height: 1px;
    width: 150px;
    background-color:#000000;
}





/*Стили для подзаголовка и линии*/

.goods__description{
    position: relative;
    padding-bottom: 20px;
}

.goods__item:nth-child(odd) .goods__description::before{
    content: "";
    display: block;
    position: absolute;
    top:11px;
    left:-60px;
    height: 4px;
    width: 45px;
    background-color:var(--base-color);
}

.goods__item:nth-child(even) .goods__description::after{
    content: "";
    display: block;
    position: absolute;
    top:11px;
    right:-60px;
    height: 4px;
    width: 45px;
    background-color:var(--base-color);
}




/*Стили для номера*/

.goods__item-number{
    font-family: var(--title-font);
    font-size: var(--subtitle-size);
}

.goods__item:nth-child(odd) .goods__item-number{
    position: absolute;
    bottom: 0;
    left: 0;
}

.goods__item:nth-child(even) .goods__item-number{
    position: absolute;
    bottom: 0;
    right: 0;
}

.goods__item-dot{
    color:var(--base-color);
}


/*Стили для ссылки*/

.goods__item:nth-child(even) .goods__link{
    text-align: left;
    margin-left: 110px;
}