.video{
    position: relative;
    background-image: url("img/video-bg@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 918px;
}

.video::before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--img-filter);
}

.video__help-wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    width: 100%;
}

.video__border{
    z-index: 1000;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border:solid 1px var(--base-color);
    width: 90%;
}

.video__width-wrapper{
    width: 100%;
    max-width: var(--width);
    margin: 0 auto;
}

.video__text-wrapper{
    margin: 200px;
}

.video__title{
    position: relative;
    z-index: 1000;
    font-family: var(--title-font);
    font-size: var(--title-size);
    color:var(--base-color);
    margin: 0;
    padding-bottom: 40px;
}

.video__title::before{
    content: "";
    display: block;
    position: absolute;
    top:15%;
    left:-165px;
    height: 1px;
    width: 150px;
    background-color:#ffffff;
}

.video__description{
    position: relative;
    z-index: 1000;
    color:#ffffff;
    max-width: 400px;
    margin: 0;
    padding-bottom: 40px;
}

.video__description::before{
    content: "";
    display: block;
    position: absolute;
    top:11px;
    left:-60px;
    height: 4px;
    width: 45px;
    background-color:var(--base-color);
}

.video__button{
    position: relative;
    z-index: 1000;
    margin-bottom: 170px;
}

.video__button-icon{
    margin-bottom: -4px;
    margin-right: 5px;
    fill:var(--intaractive-color);
    transition: 0.5s;
}

.video__icon-play{
    position: absolute;
    top:43px;
    right: 2%;
}

@media (max-width: 1000px){

    .video__title::before,
    .video__description::before{
        display: none;
    }

    .video__text-wrapper{
        margin: 200px 40px 50px 40px;
    }

    .video__button{
        margin-bottom: 200px;
    }
}

@media (max-width: 800px){
    .video__text-wrapper{
        margin: 40px;
        margin-top: 150px;
    }


    .video__button{
        margin-bottom: 200px;
    }

    .video__icon-play{
        display: none;
    }
}

@media (max-width: 550px){

    .video__text-wrapper{
        margin-top: 100px;
    }

    .video__button{
        margin-bottom: 200px;
    }
}

@media (max-width: 500px){

    .video__text-wrapper{
        margin: 0;
        margin-top: 100px;
    }
}

@media (max-width: 400px){

    .video__border{
        border:none;
    }
}