.video-small{
    padding-top: 150px;
    padding-bottom: 150px;
}

.video-small__wrapper{
    max-width: var(--width);
    margin: 0 auto;
}

.video-small__title{
    position: relative;
    font-family: var(--title-font);
    font-size: var(--title-size);
    text-align: center;
    padding-bottom: 30px;
}

.video-small__title::after{
    content: "";
    display: block;
    position: absolute;
    bottom:0;
    left:50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 45px;
    background-color:var(--base-color);
}

.video-small__subtitle{
    max-width: 550px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.video-small__item-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}

.video-item__preview{
    position: relative;
    border-radius: 50%;
    height: 255px;
    width: 255px;
    border:solid 15px #ffffff;
    box-shadow: var(--border-color) 0 0 0 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-item__preview::after{
    content: "";
    display: block;
    position: absolute;
    bottom:-40px;
    left:50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 25px;
    background-color:var(--base-color);
}

.video-item__preview--1{
    background-image: url("/img/video1@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.video-item__preview--2{
    background-image: url("/img/video2@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.video-item__preview--3{
    background-image: url("/img/video3@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}



.video-item__controls{
    cursor: pointer;
    position: relative;
    height: 70px;
    width: 70px;
    background-color: var(--intaractive-base-color);
    border-radius: 50%;
    align-self: center;
}

.video-item__play-icon{
    fill:#ffffff;
    opacity: 1;
    position: absolute;
    top:50%;
    left:50%;
    margin-right: 50%;
    transform: translate(-50%,-50%);
    
}




.video-item__title{
    text-align: center;
    margin-top: 40px;
}




@media (min-resolution: 144dpi) , (min-resolution: 1.5dppx) {
    .video-item__preview--1 {
        background-image: url("/img/video1@2x.jpg");
    }

    .video-item__preview--2 {
        background-image: url("/img/video2@2x.jpg");
    }

    .video-item__preview--3 {
        background-image: url("/img/video3@2x.jpg");
    }
}