.video-small{
    padding-top: 150px;
    padding-bottom: 110px;
}

.video-small__wrapper{
    max-width: var(--width);
    padding: var(--padding);
    margin: 0 auto;
}

.video-small__title{
    position: relative;
    font-family: var(--title-font);
    font-size: var(--title-size);
    text-align: center;
    padding-bottom: 30px;
}

.video-small__title::after{
    content: "";
    display: block;
    position: absolute;
    bottom:0;
    left:50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 45px;
    background-color:var(--base-color);
}

.video-small__subtitle{
    max-width: 550px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.video-small__item-wrapper{
    display: flex;
    flex-direction: var(--flex-dir);
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

@media (max-width: 550px){
    .video-small{
        padding: var(--padding);
        padding-top: 100px;
        padding-bottom: 60px;
    }
}